.LanguageSwitcher {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 10px;
  z-index: 1;
  gap: 5px;
}

.LanguageBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  font-size: 30px;
  vertical-align: middle;
  line-height: 2;
  cursor: pointer;
  opacity: 60%;
}

.LanguageBlock:hover {
  opacity: 80%;
  transform: scale(110%);
}

.LanguageActive {
  opacity: 80%;
}

@media only screen and (max-width: 1024px) {
  .LanguageSwitcher {
    position: relative;
    justify-content: flex-end;
    padding-top: 5px;
    gap: 5px;
  }

  .LanguageBlock {
    height: 30px;
    font-size: 20px;
  }
}
