.DiceContainer {
  width: 200px;
  height: 140px;
  padding: 20px;
}

.DiceLabel {
  color: antiquewhite;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  line-height: 40px;
  height: 40px;
}
