.GameComponent {
  display: flex;
  flex: 0;
  width: 100vw;
  padding: 25px;
}

canvas {
  background-color: rebeccapurple;
  width: var(--canvas-width);
  aspect-ratio: 1;
}

.GameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  overflow: auto;
}

.SideControls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .GameComponent {
    flex-direction: column;
    padding: 0;
  }

  .GameContainer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .SideControls {
    flex-direction: column-reverse;
  }
}
