.GameComponent {
  display: flex;
  flex: 0;
  width: 100vw;
  padding: 25px;
}

canvas {
  background-color: rebeccapurple;
  width: var(--canvas-width);
  aspect-ratio: 1;
}

@media only screen and (max-width: 1024px) {
  .GameComponent {
    flex-direction: column;
  }
}
