.Para {
  align-self: flex-start;
  font-size: 19px;
  padding-bottom: 15px;
}

.TextWinCondition {
  display: inline-block;
  font-weight: bold;
  font-size: 105%;
  padding: 0 5px;
  background-color: rgb(212, 209, 209);
  opacity: 80%;
}

.TextContest {
  font-weight: bold;
  font-size: 110%;
  color: rgb(156, 200, 90)
}
