.GameRuleModalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.GameRuleModalTitle {
  font-size: 17px;
  padding-bottom: 20px;
}

.GameObjectsGrid {
  display: flex;
  flex-direction: column;
}

.GameObjectWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.GameObjectLabel {
  padding-left: 10px;
}

.ContinueButton {
  min-width: 180px;
  width: auto;
  height: 50px;
	overflow: visible;
  margin-top: 20px;
  padding: 15px;
	line-height: normal;

	background: rgb(245, 245, 245);
	border: 1px solid rgb(222, 218, 218);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	color: inherit;
	font: inherit;

	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
}

.ContinueButton:hover {
	background: rgb(242, 241, 241);
}
