.HeadphonesImageWrap {
  padding: 20px 0;
}

.SoundRecommendation {
  font-weight: 300;
  font-size: 19px;
}

.MainButton {
  box-shadow: #a25b5f 0px 5px 15px;
}

.Headphones {
  animation: tilt 0.6s ease-in infinite;
}

@keyframes tilt {
  0% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  }

  25% {
    -webkit-transform: rotate(-2deg); 
    transform: rotate(-2deg); 
  }

  50% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  }

  75% {
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg); 
  }

  100% {
    -webkit-transform: rotate(1deg); 
    transform: rotate(1deg); 
  }
}

@-moz-keyframes tilt { 
  0% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  }

  25% {
    -webkit-transform: rotate(-2deg); 
    transform: rotate(-2deg); 
  }

  50% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  }

  75% {
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg); 
  }

  100% {
    -webkit-transform: rotate(1deg); 
    transform: rotate(1deg); 
  }
}

@-webkit-keyframes tilt { 
  0% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  }

  25% {
    -webkit-transform: rotate(-2deg); 
    transform: rotate(-2deg); 
  }

  50% {
    -webkit-transform: rotate(0); 
    transform: rotate(0); 
  }

  75% {
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg); 
  }

  100% {
    -webkit-transform: rotate(1deg); 
    transform: rotate(1deg); 
  }
}
