#root, body, html {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

button {
  margin: auto;
  line-height: normal;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	overflow: visible;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.App {
  width: 100%;
  background-image: linear-gradient(to bottom, #80585a 0%, #518189 80%);
}
