.GameModalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  font-size: 17px;
  overflow: auto;
}

.ModalButtonWrap {
  padding-top: 20px;
}
